################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows.Controls/ControlsTest/bin
/.vs
/Windows.Controls/ControlsTest/obj
/Windows/Windows.Controls/Windows.Controls/bin
/Windows/Windows.Controls/Windows.Controls/obj
/Windows.Controls/.vs/Windows.Controls/FileContentIndex
/Windows.Controls/.vs/Windows.Controls/v17
/Windows.Controls/ControlsTest/obj/Release/ControlsTest.csproj.AssemblyReference.cache
/Windows.Controls/ControlsTest/obj/Release/ControlsTest.csproj.CoreCompileInputs.cache
/Windows.Controls/ControlsTest/obj/Release/ControlsTest.csproj.GenerateResource.cache
/Windows.Controls/ControlsTest/obj/Release/ControlsTest.Form1.resources
/Windows.Controls/Windows.Controls/bin/Release/Windows.Controls.dll
/Windows.Controls/Windows.Controls/bin/Release/Windows.Controls.pdb
/Windows.Controls/Windows.Controls/bin/Release/Windows.Controls.xml
/Windows.Controls/Windows.Controls/obj/Release/Windows.Controls.csproj.AssemblyReference.cache
/Windows.Controls/Windows.Controls/obj/Release/Windows.Controls.csproj.CoreCompileInputs.cache
/Windows.Controls/Windows.Controls/obj/Release/Windows.Controls.csproj.GenerateResource.cache
/Windows.Controls/Windows.Controls/obj/Release/Windows.Controls.dll
/Windows.Controls/Windows.Controls/obj/Release/Windows.Controls.pdb
/Windows.Controls/Windows.Controls/obj/Release/Windows.Controls.Properties.Resources.resources
