################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Windows.Controls/ControlsTest/bin
/.vs
/Windows.Controls/ControlsTest/obj/Debug
/Windows.Controls/.vs/Windows.Controls/FileContentIndex
/Windows.Controls/.vs/Windows.Controls/v17
